body {
    background-color: rgb(255, 204, 127);
    background-image: url(Image/Moc1.png);
}

button {
    background-color: rgb(255, 174, 0);
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid white;
    box-shadow: 0 0 5px rgb(255, 177, 33);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3 ease-in-out;
}

